[tool.poetry]
name = "fastapi-jsonrpc"
version = "2.3.0"
description = "JSON-RPC server based on fastapi"
license = "MIT"
authors = ["Sergey Magafurov <magafurov@tochka.com>"]
readme = "README.rst"
repository = "https://github.com/smagafurov/fastapi-jsonrpc"
homepage = "https://github.com/smagafurov/fastapi-jsonrpc"
keywords = ['json-rpc', 'asgi', 'swagger', 'openapi', 'fastapi', 'pydantic', 'starlette']
exclude = ["example1.py", "example2.py"]

[tool.poetry.dependencies]
python = "^3.6.2"
aiojobs = ">0.2.2"
fastapi = ">0.55,<0.80"
pydantic = ">0.0.0"
starlette = ">0.0.0"

[tool.poetry.dev-dependencies]
pip = "19.0.3"
cerberus = "1.1"
dephell = "0.7.3"
mistune = "0.8.4"
uvicorn = "^0.14.0"
pygments = "^2.4"
rst_include = "^2.1.0"
pytest = "^6.2"
# python-dateutil 2.8.1 needs six but has no dependency
six = "^1.15.0"
requests = "^2.26.0"
sentry-sdk = "^1.3.0"

[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
