[tool.poetry]
name = "fastapi-jsonrpc"
version = "3.0.2"
description = "JSON-RPC server based on fastapi"
license = "MIT"
authors = ["Sergey Magafurov <magafurov@tochka.com>"]
readme = "README.rst"
repository = "https://github.com/smagafurov/fastapi-jsonrpc"
homepage = "https://github.com/smagafurov/fastapi-jsonrpc"
keywords = ['json-rpc', 'asgi', 'swagger', 'openapi', 'fastapi', 'pydantic', 'starlette']
exclude = ["example1.py", "example2.py"]

[tool.poetry.dependencies]
python = "^3.8"
aiojobs = ">=1.1.0"
fastapi = [
    {version = ">=0.100.0,<0.106.0"},
]
pydantic = [
    {version = ">=2.0.0"},
    {version = "<3.0.0"},
]
starlette = ">0.0.0"

[tool.poetry.dev-dependencies]
uvicorn = "^0.17.0"
rst_include = "^2.1.0"
pytest = "^6.2"
sentry-sdk = "^1.3.0"
requests = ">0.0.0"
httpx = ">=0.23.0,<0.24.0"  # FastAPI/Starlette extra test deps

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
